*{
   /* border: 1px solid black;  */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
:root{
  --headerColor: rgb(44, 43, 43);
  --headerTextColor: white;
  --HeaderTextHover: rgb(69, 69, 69);
}
header {
  background-color:var(--headerColor);
  min-height: 100px;
}

.Header-Container {
  display: grid;
  grid-template-columns: auto auto auto auto  ;
  min-height: 50px;
  align-items: center;
}

 .header_Container a:link, a:visited {
  /* grid-gap: 10px; */
  font-weight: bold;
  color: var(--headerTextColor);
  margin: 6px 0px;
  padding: 0px 5px;
}

.header_Container, a:hover {
 background-color: var(--HeaderTextHover);
 border-radius: 5px;
 
}

.grid-item {
  text-decoration: none;
 text-align: center;
}

.header_img {
 min-width: 100%;
 background-size: cover;
 height: 100px;
 object-position: center center;
}
.Content_section{
  padding: 15px;
}
.Projects_Container {
  text-align: center;
}
.About_Us_container {
  text-align: center;
}
.img_fit{
  width: 100%;
}
